.container{
    width: 400px;
    height:500px;
    margin:8% auto;
    border-radius: 6px;
    background-color: beige;
    position: relative;
}
h3{
    text-align: center;
    margin-bottom: 40px;
    font: 600;
    color: rgba(0, 0, 0, 0.499);
}

form input{
    width: 95%;
    padding:10px 5px;
    margin: 5px 0;
    border: 0%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.414);
    outline:none;   
    background: transparent;
}
::placeholder{
    color:rgb(42, 58, 165);
}
.btn-box{
    width:100%;
    margin: 30px auto;
    text-align: center;
    
}
form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background-color:greenyellow;
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;

}
